version: "3.9"

services:

  backend:
    build:
      context: ./back_end
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ./back_end:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - WANDB_API_KEY=${WANDB_API_KEY}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 5s
      timeout: 10s
      retries: 10

  frontend:
    build:
      context: ./front_end
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "8501:8501"
    restart: always
    depends_on:
      - backend
    volumes:
      - ./front_end:/app
    command: streamlit run app.py --server.port=8501 --server.address=0.0.0.0
    environment:
      BACKEND_URL: "http://backend:8000"
